.main-container {
  width: 100%;
  margin: 0;
}

.home-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.home-container h1 {
  color: whitesmoke;
  animation: shine 5s infinite alternate;
}

.presentation-container {
  height: 100%;
  width: 80%;
  background-color: transparent;
  border-radius: 50px;
  align-self: center;
  background-size: cover; 
  margin-bottom: 0; 
}

.home-container {
  border-radius: 10px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.lista-features {
  height: 80%;
}

.slide {
  max-height: 500px;
  width: 100%;
}

.boton-registro {
  background-color: red; 
  color: #fff; 
  padding: 15px 20px; 
  size: 10px;
  margin-top: 30px;
  border: none; 
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave de color de fondo y sombra */

  
  &:hover {
    background-color: #45a049; /* Color de fondo verde ligeramente más oscuro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra ligera al pasar por encima */
    transform: translateY(-5px);
  }
}

/*GPT*/
.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  padding: 10px; 
  font-size: 18px; 
}

.carousel {
  border-radius: 50px;
  background-color: red;
}

.carousel.carousel-slider {
  background-color: transparent;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.carousel-status {
  display: none !important;
}

.carousel .control-dots .dot {
  width: 10px; 
  height: 10px; 
  margin: 0 5px; 
  background-color: #fff; 
}



.image-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente más oscuro */
  color: #fff; /* Color del texto */
  padding: 10px; /* Espacio alrededor del texto */
  font-size: 18px; /* Tamaño del texto */
  text-align: center; /* Centrar el texto */
}

