.ingreso-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.ingreso-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    background-color: black;
    border: red 1px solid;
}

.ingreso-form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 80px;
}

.ingreso-username {
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
}

.ingreso-password {
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
}

.ingreso-main-container a {
    color: white;
}

.ingreso-main-container h1 {
    color: white;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.ingreso-boton-registro {
    margin-top: 50%;
    margin-bottom: 0px;
}

.ingreso-edad, .ingreso-peso, .ingreso-sexo {
    height: 30px;
    border-radius: 5px;
}