/* notificaciones.css */

.Notificaciones {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Alinea los elementos horizontalmente al centro si es necesario */
  }
  
  .Dias {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna dentro de la sección de días */
    align-items: center; /* Alinea los elementos horizontalmente al centro si es necesario */
    border: 3px solid #010101; /* Añade un borde de 1px de color naranja */
    background-color: #010101;
    border-color: #ffffff;
    margin-bottom: 10px;

}

.Notificaciones h1{
    color: white;
}



.volver{
    margin-top: 10px;
}

.volver button{
    background-color:black;
    border: 3px solid #ffffff;
    padding: 5px 10px;
    cursor: pointer;

}

.volver a{

    color: #ffffff;
}

.volver button:hover a{
    color: #ff5722;
    
}

.volver button:hover {
    
    background-color: #090a0a; /* Color de fondo del botón */
}



  
 
  
